[Desktop Entry]
Name=Materia Manjaro Dark Gradient
X-KDE-PluginInfo-Author=freefreeno
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=freefreeno@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-Name=Materia-Manjaro-Dark-Gradient
X-KDE-PluginInfo-Version=1.0
