[Desktop Entry]
Name=Materia Manjaro Dark Solid
X-KDE-PluginInfo-Author=Alexey Varfolomeev/Josh freeno for color changes
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=freefree81@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Materia-Manjaro-Dark-Solid
X-KDE-PluginInfo-Version=1.0
